{% extends "layout.html" %}
{% block body %}

<h3><span class="page-title">{{ page_title }}</span></h3>

<svg class="graph-positions" width="360" height="240"></svg>
<svg class="graph-battery" width="360" height="240"></svg>
<svg class="graph-memory" width="360" height="240"></svg>

<script>
    var graph_status = {{ graph_status | safe }};
</script>
<script src="{{ url_for('static', filename='device.js') }}"></script>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>timestamp</th>
      <th>device name</th>
      <th class="text-right">images</br>taken</th>
      <th class="text-right">images</br>in memory</th>
      <th class="text-right">free space</br>int</th>
      <th class="text-right">free space</br>ext</th>
      <th class="text-right">battery</br>int</th>
      <!-- <th>battery</br>ext</th> -->
      <th class="text-right">state</br>charging</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in data_status %}
    <tr>
      <td class="col-md-1">{{ msg.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=msg.deviceId) }}">{{ msg.deviceId }}</a></td>
      <td class="col-md-2">{{ msg.timestamp | dateformat }}</td>
      <td class="col-md-1">{{ msg.deviceName }}</td>
      <td class="col-md-1 text-right">{{ msg.numberImagesTaken | suppresszero }}</td>
      <td class="col-md-1 text-right">{{ msg.numberImagesSaved | suppresszero }}</td>
      <td class="col-md-1 text-right {% if msg.freeSpaceInternal < 100 %} bg-danger {% endif %}">{{ msg.freeSpaceInternal | round | int | suppressnegative }}</td>
      <td class="col-md-1 text-right">{{ msg.freeSpaceExternal | round | int | suppressnegative }}</td>
      <td class="col-md-1 text-right {% if msg.batteryInternal < 20 %} bg-danger {% endif %}">{{ msg.batteryInternal | round | int | suppressnegative }}</td>
      <!-- <td class="col-md-1 text-right">{{ msg.batteryExternal | round | int | suppressnegative }}</td> -->
      <td class="col-md-1 text-center {% if msg.stateCharging < 1 %} bg-danger {% else %} bg-success {% endif %}">{{ msg.stateCharging | bool }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% for item in data_uploads %}
    <a href="{{ url_for("image", path=item.filename) }}"><img height="200" src="{{ url_for("image", path=item.filename, _external=True) }}"></a></td>
{% endfor %}

{% endblock %}