{% extends "layout.html" %}
{% block body %}

<a href="{{ url_for('overview', option='last_hour') }}">last hour</a> | 
<a href="{{ url_for('overview', option='today') }}">today</a>  | 
<a href="{{ url_for('overview', option='all') }}">all time</a>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>timestamp</th>
      <th>device name</th>
      <th>number</br>images</th>
      <th>free space</br>int</th>
      <th>free space</br>ext</th>
      <th>battery</br>int</th>
      <th>battery</br>ext</th>
      <th>state</br>charging</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in data_status %}
    <tr>
      <td class="col-md-05">{{ msg.id }}</td>
      <td class="col-md-15"><a href="{{ url_for("device", device_id=msg.deviceId) }}">{{ msg.deviceId }}</a></td>
      <td class="col-md-2">{{ msg.timestamp | dateformat }}</td>
      <td class="col-md-2">{{ msg.deviceName }}</td>
      <td class="col-md-1">{{ msg.numberImages | suppressnegative }}</td>
      <td class="col-md-1">{{ msg.freeSpaceInternal | round | suppressnegative }}</td>
      <td class="col-md-1">{{ msg.freeSpaceExternal | round | suppressnegative }}</td>
      <td class="col-md-1">{{ msg.batteryInternal | suppressnegative }}</td>
      <td class="col-md-1">{{ msg.batteryExternal | suppressnegative }}</td>
      <td class="col-md-1">{{ msg.stateCharging | bool }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-05"> - </td>
      <td class="col-md-15"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>timestamp</th>
      <th>eventtype</th>
      <th>payload</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in data_events %}
    <tr>
      <td class="col-md-05">{{ msg.id }}</td>
      <td class="col-md-15"><a href="{{ url_for("device", device_id=msg.deviceId) }}">{{ msg.deviceId }}</a></td>
      <td class="col-md-2">{{ msg.timestamp | dateformat }}</td>
      <td class="col-md-2">{{ msg.eventtype | eventtype }}</td>
      <td class="col-md-6">{{ msg.payload }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-05"> - </td>
      <td class="col-md-15"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-4"> - </td>
      <td class="col-md-4"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>timestamp</th>
      <th>command</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in data_commands %}
    <tr>
      <td class="col-md-05">{{ msg.id }}</td>
      <td class="col-md-15"><a href="{{ url_for("device", device_id=msg.deviceId) }}">{{ msg.deviceId }}</a></td>
      <td class="col-md-2">{{ msg.timestamp | dateformat }}</td>
      <td class="col-md-4">{{ msg.command }}</td>
      <td class="col-md-4">{{ msg.status }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-05"> - </td>
      <td class="col-md-15"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-4"> - </td>
      <td class="col-md-4"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>timestamp</th>
      <th>filename</th>
    </tr>
  </thead>
  <tbody>
    {% for msg in data_uploads %}
    <tr>
      <td class="col-md-05">{{ msg.id }}</td>
      <td class="col-md-15"><a href="{{ url_for("device", device_id=msg.deviceId) }}">{{ msg.deviceId }}</a></td>
      <td class="col-md-2">{{ msg.timestamp | dateformat }}</td>
      <td class="col-md-8"><a href="/{{ msg.filename }}">{{ msg.filename }}</a></td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-05"> - </td>
      <td class="col-md-15"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-8"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}