{% extends "layout.html" %}
{% block body %}

<a href="{{ url_for('overview', option='last_hour') }}">last hour</a> | 
<a href="{{ url_for('overview', option='today') }}">today</a>  | 
<a href="{{ url_for('overview', option='all') }}">all time</a>

{% if graph_status %} 
  
  <h3><span class="page-title">{{ page_title }}</span></h3>

  <svg class="graph-positions" width="360" height="240"></svg>
  <svg class="graph-battery" width="360" height="240"></svg>
  <svg class="graph-memory" width="360" height="240"></svg>

  <script>
      var graph_status = {{ graph_status | safe }};
  </script>
  <script src="{{ url_for('static', filename='device.js') }}"></script>

{% endif %}

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>time</th>
      <th>device name</th>
      <th class="text-right">images</br>taken</th>
      <th class="text-right">images</br>in memory</th>
      <th class="text-right">free space</br>internal</th>
      <th class="text-right">free space</br>SD-card</th>
      <th class="text-right">battery</br>built-in</th>
      <!-- <th class="text-right">battery</br>external</th> -->
      <th class="text-right">charging</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_status %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("overview", option="all") }}?device={{ entry.deviceId }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-2">{{ entry.timestamp | dateformat }}</td>
      <td class="col-md-1">{{ entry.deviceName }}</td>
      <td class="col-md-1 text-right">{{ entry.imagesTaken | suppresszero }}</td>
      <td class="col-md-1 text-right">{{ entry.imagesInMemory | suppresszero }}</td>
      <td class="col-md-1 text-right {% if entry.freeSpaceInternal < 100 %} bg-danger {% endif %}">{{ entry.freeSpaceInternal | round | int | suppressnegative }}</td>
      <td class="col-md-1 text-right">{{ entry.freeSpaceExternal | round | int | suppressnegative }}</td>
      <td class="col-md-1 text-right {% if entry.batteryInternal < 20 %} bg-danger {% endif %}">{{ entry.batteryInternal | round | int | suppressnegative }}</td>
      <!-- <td class="col-md-1 text-right">{{ entry.batteryExternal | round | int | suppressnegative }}</td> -->
      <td class="col-md-1 text-center {% if entry.stateCharging < 1 %} bg-danger {% else %} bg-success {% endif %}">{{ entry.stateCharging | bool }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>sessionId</th>
      <th class="text-right">captures</th>
      <th class="text-right">start</th>
      <th class="text-right">end</th>
      <th class="text-right">duration</th>
      <th class="text-right">location</th>
      <th class="text-right">resumed</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_session %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=entry.deviceId) }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-1">{{ entry.sessionId }}</td>
      <td class="col-md-1 text-right"> TODO </td>
      <td class="col-md-2 text-right">{{ entry.start | dateformat }}</td>
      <td class="col-md-2 text-right">{{ entry.end | dateformat }}</td>
      <td class="col-md-1 text-right">{{ [entry.start, entry.end] | timediff }}</td>
      <td class="col-md-1 text-right"><a href="{{ [entry.latitude, entry.longitude] | location }}" target="_blank">map</a></td>
      <td class="col-md-1 text-right">{{ entry.resumed }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-1"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>captureId</th>
      <th>sessionId</th>
      <th class="text-right">recordingTime</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_capture %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=entry.deviceId) }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-2">{{ entry.captureId }}</td>
      <td class="col-md-2">{{ entry.sessionId }}</td>
      <td class="col-md-5 text-right">{{ entry.recordingTime | dateformat }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-5"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>time</th>
      <th>device name</th>
      <th>event type</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_event %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=entry.deviceId) }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-2">{{ entry.timestamp | dateformat }}</td>
      <td class="col-md-1">{{ entry.deviceName }}</td>
      <td class="col-md-2">{{ entry.type | eventtype }}</td>
      <td class="col-md-4">{{ entry.payload | suppressnull }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-4"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>time</th>
      <th>command</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_command %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=entry.deviceId) }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-2">{{ entry.timestamp | dateformat }}</td>
      <td class="col-md-4">{{ entry.command }}</td>
      <td class="col-md-4">{{ entry.status }}</td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-4"> - </td>
      <td class="col-md-4"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table table-sm table-bordered table-striped ">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>device id</th>
      <th>time</th>
      <th>filename</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in data_upload %}
    <tr>
      <td class="col-md-1">{{ entry.id }}</td>
      <td class="col-md-2"><a href="{{ url_for("device", device_id=entry.deviceId) }}">{{ entry.deviceId }}</a></td>
      <td class="col-md-2">{{ entry.timestamp | dateformat }}</td>
      <td class="col-md-8"><a href="{{ url_for("image", path=entry.filename) }}">{{ entry.filename }}</a></td>
    </tr>
    {% else %}
    <tr>
      <td class="col-md-1"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-2"> - </td>
      <td class="col-md-8"> - </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}