**/.idea
/DespatPlayground/result
/DespatPlayground/out
/Despat/out
/enclosure/**/*.b#?
/enclosure/**/*.s#?
/enclosure/**/*.lck
/enclosure/**/*.pro
/datasets/*
corodiak.db
result*.jpg
DespatPlayground/testimages
servpat/UPLOAD
secret_key
