**/.idea

/DespatPlayground/result
/DespatPlayground/out
DespatPlayground/testimages

/Despat/out

/enclosure/**/*.b#?
/enclosure/**/*.s#?
/enclosure/**/*.lck
/enclosure/**/*.pro

/datasets/*
result*.jpg
/detection/**/*.jpg
/detection/*.xml
/detection/models/*

servpat/UPLOAD

secret_key
despat.sqlite
corodiak.db

*.pickle