**/.idea

/DespatPlayground/result
/DespatPlayground/out
DespatPlayground/testimages

/Despat/out

/enclosure/**/*.b#?
/enclosure/**/*.s#?
/enclosure/**/*.lck
/enclosure/**/*.pro

/detection

/datasets/*
result*.jpg
/detector/**/*.jpg
/detector/*.xml
/detector/models/*

/postprocessing/*.jpg
/postprocessing/*.png

/visualization/tiles

servpat/UPLOAD

secret_key
despat.sqlite
corodiak.db

*.pickle
Gemfile.lock
postprocessing/background_subtraction/scaled_*
postprocessing/background_subtraction/output_*
