.page {
    padding: 10px;
    padding-top: 3px;
}

.page-title {
    color: #999;
}

h3 a {
    color: #333;
}

.table-sm td, .table-sm th {
    padding: 1px 3px;
    font-size: 13px;
}

.col-md-05 {
    -ms-flex: 0 0 4.166667%;
    flex: 0 0 4.166667%;
    max-width: 4.166667%;

    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-md-15 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;

    position: relative;
    width: 100%;
    min-height: 1px;
}