.page {
    padding: 10px;
    padding-top: 3px;
}

.page-title {
    color: #999;
}

h3 {
    margin-top: 4px;
}

h3 a {
    color: #333;
}

.table > tbody > tr > td, .table > thead > tr > th {
    padding: 1px 3px;
    font-size: 13px;
}
