<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.volzo.despat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- scheduling -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- system controller -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- logcat backup -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- sync adapter -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".Despat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity" />
        <activity
            android:name=".ConfigureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape" />

        <receiver
            android:name=".services.Orchestrator"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="de.volzo.despat.ALL_SERVICES" />
                <action android:name="de.volzo.despat.SHUTTER_SERVICE" />
                <action android:name="de.volzo.despat.RECOGNITION_SERVICE" />
                <action android:name="de.volzo.despat.HEARTBEAT_SERVICE" />
                <action android:name="de.volzo.despat.UPLOAD_SERVICE" />
                <action android:name="de.volzo.despat.COMMAND_SERVICE" />
                <action android:name="de.volzo.despat.PICTURE_TAKEN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ShutterService"
            android:enabled="true"
            android:exported="false"
            android:process=":despatShutterService" />
        <service
            android:name=".services.RecognitionService"
            android:exported="false"
            android:label="Recognition Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.HeartbeatService"
            android:exported="false"
            android:label="Heartbeat Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.UploadService"
            android:exported="false"
            android:label="Upload Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.CommandService"
            android:exported="false"
            android:label="Command Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- sync adapter -->
        <service android:name=".web.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".web.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".web.RoomProvider"
            android:authorities="de.volzo.despat.web.provider"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".SettingsActivity2"
            android:label="@string/title_activity_settings2"></activity>
    </application>

</manifest>